h1 {
    color: black;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
}

/* p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 85px;
} */

body {
    background-color: blanchedalmond;
}