h1 {
    font-size: 150px;
    color: whitesmoke;
    text-decoration: none;
}

body {
    background-color: rgb(15, 15, 15);
    font-size: 75px;
}
.title{
    font-size: 150px;
    color: whitesmoke !important;
    text-decoration: none !important;
}

.text{
    color: darkblue;
}
.text:hover{
    color: rgb(20, 20, 169);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-text {
    color: whitesmoke;
    display: inline-block;
    animation: spin 120s linear infinite;
}